<h1>About</h1>
<img src="images/undraw_trip_dv9f.svg" alt="trip" >
<p>When In Roam is a community driven travel blog, where explorers can share their experiences, together. 
    We encourage writers of all levels to share and grow while exploring the world. 
    Whether it's your local coffee shop you stop by every morning or a bar you checked out while jet 
    setting around the world. Share, grow, explore!</p>

    