
<div class="posts-container aboutContatiner">
    <img class="aboutBackImg aligner aligner--spaceAround" src="images/undraw_trip_dv9f.svg" height="200px" alt="trip">
    <h1 class="text-center aboutTitle">When In Roam</h1>
    <p class="text-center aboutText">
        ...is a community driven travel blog, where explorers can share their experiences, together.
        We encourage writers of all levels to share and grow while exploring the world.
        Whether it's your local coffee shop you stop by every morning or a bar you checked out while jet
        setting around the world. Share, grow, explore!
    </p>
</div>
