<h2>This is the City Page!</h2>

<div class="posts-container">
    <h4><%= city.city %>, <%= city.country %></h4>

    <% for (let i=0; i<posts.length; i++) { %>
        <p><%= posts[i].type %></p>
        <p><%= posts[i].content %></p>
    <% } %>
</div>
