<h2>The Page is for editing a post</h2>
<h3>we will need to load the page with the content form the post into a form to post later.</h3>

<h4><%= post[i].title %></h4>
<!-- <h6><%= (site name) %></h6> -->
<!-- <h6><%= (location city, location country) %></h6> -->
<p><%= post[i].text %></p> 
<button class="" type="submit">Submit Post</button>
<button class="" type="delete">Delete Post</button>