<div class="page-content">
    <div class="login-signup">
        <h2>Your journey begins here.</h2>
        <br>
        <a class="btn btn-primary" id="login" href="/auth/login">Log In</a>
        <a class="btn btn-light" id="signup" href="/auth/signup">Sign Up</a>
    </div>
</div>