<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>✧When In Roam✧</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <div class="headNav">
        <img class="navLogo" src="images/wir_logo.png" alt="logo" height="40px">
      <nav class="leftNav">
        <ul>
          <li><a class="button button--small button--transparent" href="/about">About</a></li>
          <li><a class="button button--small button--transparent" href="/region">Region</a></li>
          <li><a class="button button--small button--transparent" href="/city">City</a></li>
          <li><a class="button button--small button--transparent" href="/site">Site</a></li>
          <li><a class="button button--small button--transparent" href="/edit">Edit</a></li>
          <li><a class="button button--small button--transparent" href="/index">Homepage</a></li>
          <li><a class="button button--small button--transparent" href="/profile">Profile</a></li>
        </ul>
      </nav>
      <nav class="rightNav">
        <ul>
          <% if (!currentUser) { %>
            <li><a class="button button--small button--transparent" href="/auth/signup">Signup</a></li>
            <li><a class="button button--small button--transparent" href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/post">Posts</a></li>
            <li><a href="/create">Create Post</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
    </header>


      <%- body %>

    
  </body>
</html>
