<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>✧When In Roam✧</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="headNav">
        <img class="navLogo" src="images/wir_logo.png" alt="logo" height="40px" href="/">
      <nav class="leftNav">
        <ul>
          <% if (!currentUser) { %>
          <li><a class="button button--small button--transparent" href="/about">About</a></li>
          <% } else { %>
            <li><a class="button button--small button--transparent" href="/">Homepage</a></li>
          <li><a class="button button--small button--transparent" href="/region">Posts/Region</a></li>
          <li><a class="button button--small button--transparent" href="/new">New Post</a></li>

          <% } %>
        </ul>
      </nav>
      <nav class="rightNav">
        <ul>
          <% if (!currentUser) { %>
            <li><a class="button button--small button--transparent" href="/auth/signup">Signup</a></li>
            <li><a class="button button--small button--transparent" href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a class="button button--small button--transparent" href="/profile">Profile</a></li>
            <li><a class="button button--small button--transparent" href="/auth/logout">Logout</a></li>
          <% } %>
        </ul>
      </nav>
    </div>
    </header>


      <%- body %>

    
  </body>
</html>