<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>✧When In Roam✧</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <ul class="nav">
          <li><a class="button button--small button--transparent" href="/about">About</a></li>
          <% if (!currentUser) { %>
            <li><a class="button button--small button--transparent" href="/auth/signup">Signup</a></li>
            <li><a class="button button--small button--transparent" href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/post">Posts</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <%- include('partials/alerts') %>
    <h1>Authentication</h1>
    <%- body %>
  </body>
</html>
