<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>✧When In Roam✧</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav>
        <p style="font-family: 'Pacifico', cursive;">When in Roam</p>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/region">Region</a></li>
          <li><a href="/city">City</a></li>
          <li><a href="/site">Site</a></li>
          <li><a href="/edit">Edit</a></li>
          <li><a href="/index">Homepage</a></li>
          <li><a href="/profile">Profile</a></li>
          <% if (!currentUser) { %>
            <li><a class="button button--small button--transparent" href="/auth/signup">Signup</a></li>
            <li><a class="button button--small button--transparent" href="/auth/login">Login</a></li>
          <% } else { %>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/post">Posts</a></li>
            <li><a href="/create">Create Post</a></li>
          <% } %>
        </ul>
      </nav>
    </header>
    <%- include('partials/alerts') %>
    <h1>Authentication</h1>
    <%- body %>
  </body>
</html>
