<h2>NEW POST</h2>
<h3>we will need a form to collect the info, title, text , and location</h3>

<form action="new.ejs" method="POST">
    <label class="label" for="new-country">Country</label>
    <input class="input" id="new-country" type="text" name="country">

    <label class="label" for="new-city">City</label>
    <input class="input" id="new-city" type="text" name="city">

    <label class="label" for="location-type">Location Type</label>
    <input class="input" id="location-type" type="text" name="type">

    <label class="label">Location Type</label>
    <div class="slect">
        <select name="type" id="location-type">
            <option>Resturant/Bar</option>
            <option>Historical Site</option>
            <option>Food Market</option>
            <option>Landmark</option>
            <option>Other</option>

        </select>
    </div>

    <label class="label" for="date">Date</label>
    <input class="input" id="date" type="numder" name="date">

    <label class="label" for="new-content">Content</label>
    <div class="textarea">
        <textarea id="message"></textarea>
    </div>  
</form>