<form action="/new" method="POST">

    <label class="label" for="new-country">Country</label>
    <input class="input" id="new-country" type="text" name="countryName">
    
    <label class="label" for="new-city">City</label>
    <input class="input"  id="new-city" type="text" name="cityName">

    <label class="label" for="new-region">Region</label>
    <input class="input" id="new-region" type="text" name="regionName">

    <label class="label" for="site-type">Location Type</label>
    <input class="input" id="site-type" type="text" name="type">

    <label class="label" for="site-name">Site</label>
    <input class="input" id="site-name" type="text" name="siteName">
    
    <label class="label" for="date">Date</label>
    <input class="input" id="date" type="date" name="date">

    <label class="label" for="new-content">Content</label>
    <textarea  id="new-content" class="textarea" type="text" name="content"></textarea>
    <br/>
    <button class="button button--small button--transparent" type="submit">Submit</button>

</form>