* { 
  background-color:oldlace;
  font-family: sans-serif;
  font-weight: lighter;
}

nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}

h1 {
  color: cadetblue;
}

h2 {
  color: mediumpurple;
}