//framework
@import 'custom-settings';
@import '../../node_modules/sierra-library/lib/index.scss';

//color theme veriables
$bkgd : #FAFEFF;
$ltblue: #E0FAFF;
$drkblue: #8BACB3;
$ltbrown: #FFEFE0;
$drkbrown: #B39479;

//
body {
    background-color: $bkgd;
    font-family: sans-serif;
}


.headNav {
    background-color: $ltbrown;
    display: flex;
    justify-content: space-between;
}
.button{
    color: $drkblue;
}
.leftNav ul {
    display: flex;
    margin: 5px;
}

.rightNav ul {
    display: flex;
    margin: 5px
}

h1 {
    color: $drkblue;
}

h2 {
    color: $drkbrown;
}

//page specific styles

.aboutBackImg {
    position: static;
}

.aboutText {
    position: absolute;
}